<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="container mt-4">
        <h1><%= heading %></h1>
        <p>Example lng ni</p>
    </div>

<%- include('./partials/footer.ejs') %>